@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

/* Common styling */

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
  background-color: #222;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* App styling */

#app {
  position: relative;
  width: 100wh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rod styling */

.rod {
  position: fixed;
  width: 150px;
  height: 25px;
  left: calc(50% - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: #fff;
  transition: left 0.1s ease-in-out;
}

#rod-top {
  top: 0px;
  background-color: coral;
  border-radius: 0px 0px 10px 10px;
}

#rod-bottom {
  bottom: 0px;
  background-color: coral;
  border-radius: 10px 10px 0px 0px;
}

/* Ball styling */

#ball {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: calc(100% - 55px);
  right: calc(50% - 12.5px);
  background: linear-gradient(
    132deg,
    rgb(221, 221, 221) 0%,
    rgb(110, 136, 161) 100%
  );
}

/* Score */

#score {
  font-family: "Monoton", cursive;
  font-size: 3rem;
  min-width: 300px;
  opacity: 0.75;
  color: white;
}

/* Glow */

.glow {
  animation: glowing 1s ease-in-out infinite alternate;
  box-shadow: 0 0 15px rgb(215, 223, 252);
}

@keyframes glowing {
  from {
    box-shadow: 0 0 15px rgb(215, 223, 252);
  }
  to {
    box-shadow: 0 0 0px rgb(215, 223, 252);
  }
}
